<div class="row">
    <div class="col">
      
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}"
         class="img-responsive" style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>{{ recipe.name }} </h2>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Manage recipe
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">To shopping list</a>
          <a class="dropdown-item" href="#">Edit recipe</a>
          <a class="dropdown-item" href="#">Delete recipe</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ recipe.description }}
    </div>
  </div>

  <div class="row">
    <div class="col">
      Ingredients
    </div>
  </div>

  <!--
Este es el componente que contendrá la información de la receta que seleccionemos de la lista 
de recetas (todavía estática) que acabamos de construir. Esos detalles de la receta se
 mostrarán a la derecha de la pantalla, así se configuro en el componente RecipesComponent
la imagen de la receta
el nombre de la receta
botones para interactuar con la receta (añadiremos un dropdown pero por el momento no funcionará)
la descripción completa de la receta
los ingredientes de la receta
    -->