<div class="row">
  <div class="col-10">
    <!-- agregar slector shoppin-list-edit -->
    <app-shopping-list-edit (ingredientAdded)="onIngredientAdded($event)">
    </app-shopping-list-edit>
    <hr />
    <!-- lista desordenada -->
    <ul class="list-group">
      <!-- style="cursor: pointer agregar un efecto de click de un botón a la lista -->
      <!-- añadimos un ngFor para iterar nuestro array de ingredients y mostrarlos todos -->
      <a class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients">
        {{ingredient.name}} ({{ingredient.amount}})
        <!-- los paréntesis del ingredient.amount son parte del contenido del texto,
           no elementos de lógica de programación  -->
      </a>
    </ul>
  </div>
</div>
